@import 'base/variables'
@import  'base/animated'


.container
	max-width: 1340px
	// max-width: 100%
	margin: 0 auto
.main
	min-height: 850px
	background: url('../img/tools.jpg') center center/cover no-repeat
	&_button
		margin-top: 35px
		margin-left: 20px
		width: 165px
		height: 50px
		color: white
		border-radius: 5px
		font-weight: 700
		font-size: 14px
		background: transparent
		cursor: pointer
		box-shadow: 0 0 20px 3px
		&:hover
			color: black
		&__pulse
			&_animation 
				animation-name: stretching
				&:hover	
					animation-duration: 1.8s
					animation-timing-function: linear(15, end)
					animation-iteration-count: infinite
					animation-play-state: running	
	&_logo
		margin-top: 10px	
.logo_main	
		width: 100%
		width: 115px

header
	min-height: 120px
	background-color: $main-color
.mainheader
	display: flex	
	justify-content: end
	align-items: center
	
	
	&_list	
		margin-top: 40px
		font-family: 'Roboto'
		font-style: normal
		font-weight: 700
		text-transform: uppercase
		padding: 8px 15px
		list-style: none
		&_link
			margin-top: 40px
			color:#000000fc
			text-decoration: none
			&:hover
				color: white
			&_phone
				margin-top: 35px
				font-weight: 500
				font-style: normal
				font-family: 'Roboto'
				text-decoration: none
				text-transform: uppercase
				font-size: 18px	
				color:#030303fc
				padding: 8px 15px
				&:hover
					color: white	
				&_time	
					color:#000000fc
					text-decoration: none	
					margin-left: 20px
					&:hover
						color: white	

.husband
	&_title
		margin-top: 105px
		margin-left: 110px
		font-family: 'Roboto'
		font-style: normal
		font-weight: 700
		font-size: 86px
		color:#000000fc
		span
			font-family:'Roboto'
			color: $main-color
	&_item	
		margin-top: 50px
		
		&_list
			position: relative
			margin-top: 20px
			list-style: none
			font-family: 'Roboto'
			font-style: normal
			font-weight: 300
			font-size: 22px
			span
				color:#000000fc
				font-style: normal
				font-weight: 700
			&:before
				content: ''
				position: absolute	
				top: 7px
				left: -30px
				transform: translateX(-50%)
				width: 30px
				height: 30px	
				background: url('../icons/black.svg') center center/cover no-repeat			
	&_button
		display: block
		margin-top: 50px
		margin-left: 65px
		font-weight: 700
		padding: 16px 55px 16px 55px			
		background-color: $main-color
		border: 0
		box-shadow: 0px 0px 20px 3px	
		&__pulse
			&_animation 
				animation-name: heartbeat
				&:hover	
					animation-duration: 1.8s
					animation-timing-function: linear(15, end)
					animation-iteration-count: infinite
					animation-play-state: running	
.professionals
	min-height: 840px
	background-color: #f3f5f8	
	padding: 70px 0 0 0 
	&_title
		font-family: Poppins
		font-size: 40px
		font-weight: 500
		text-align: center
		&_descr	
			margin-top: 60px
			font-family: 'Roboto'
			font-size: 18px
			font-weight: 300
			letter-spacing: 0.1px
			text-align: center
			color:#000000fc
	&_items
		margin-top: 70px
		display: flex
		justify-content: space-evenly
		&_icons
			&_logo
				width: 321px
				height: 321px
				&:hover	
					transform: scale(1.2)
					transition: 0.5s
				
	&_descr
		margin-top: 25px
		text-align: center
		font-family: 'Roboto'
		font-weight: 600
		font-size: 22px	
		
.services
	background-color: #ffffff	
	padding: 70px 0 120px 0 
	&_title
		font-family: 'Roboto'
		font-size: 40px
		font-weight: 700
		text-align: center
	&_item
		text-align: center
		margin-top: 80px
		&_imeg	
			width: 483px
			height: 350px
		&_descr
			margin-top: 20px
			color: #000000
			font-family: 'Roboto'
			font-size: 20px
			font-weight: 700
			text-align: left
			margin-left: 63px
	&_button
		display: block
		margin-top: 20px
		margin-left: 63px
		font-size: 16px
		font-weight: 700	
		background-color: $main-color
		border: 0			
		width: 242px
		height: 40px
		border-radius: 2px
.Advantages		
	background-color: #f3f5f8	
	padding: 70px 0 0 0 
	min-height: 650px
	&_title
		font-family: 'Roboto'
		font-size: 40px
		font-weight: 700
		text-align: center
.work
	padding: 70px 0 0 0
	&_title
		font-family: 'Roboto'
		font-size: 40px
		font-weight: 700
		text-align: center
		&_descr
			margin-top: 20px
			color: #000000
			font-family: 'Roboto'
			font-size: 20px
			font-weight: 700
			text-align: center
			line-height: 30px
.grid-container
	width: 100%
	display: grid
	margin-top: 50px
	justify-content: center
	grid-template-columns: repeat(4,390px)
	grid-template-rows: repeat(3,250px)
	gap: 25px
	

.our_imeg
	width: 390px
	height: 250px
.working
	
	&_title
		font-family: 'Roboto'
		font-size: 40px
		font-weight: 700
		text-align: center
	&_wrapper
		display: flex	
		justify-content: center	
		margin-top: 50px
		&_item
			display: flex
			justify-content: center
			align-items: center
			width: 90px
			height: 90px
			background:$main-color	
			margin-right: 20px
			border-radius: 50%
			&_number	
				font-family: 'Roboto'	
				font-weight: 700
				font-size: 40px
			&_descr
				width: 440px
			&_title
				margin-top: 30px
				font-family: 'Roboto'
				font-style: normal
				font-size: 22px
				font-weight: 700
			&_text
				margin-top: 10px	
				font-family: 'Roboto'
				font-size: 18px
				font-weight: 300
				font-style: normal
				color: #000000
			

		// border-radius: 50%;
		// -moz-border-radius: 50%;
		// -webkit-border-radius: 50%;
		// display: block;
		// width: 60px;
		// height: 60px;
		// text-align: center;
		// font-size: 20px;
		// line-height: 60px;
		// color: #fff;
		// overflow: hidden;
		// white-space: nowrap;
