.button
	&_main
		display: block
		margin-top: 35px
		width: 160px
		height: 50px
		color: black
		border: solid #fff
		border-radius: 5px
		font-weight: 700
		font-size: 14px
		cursor: pointer
		background-color: #fff
		text-transform: uppercase
		&:hover
			background-color: $main-color
			border: 1px solid black
	&_submain
		display: block
		margin-top: 85px
		font-weight: 700		
		background-color: $main-color
		border: 0
		cursor: pointer	
		width: 320px
		height: 60px
		&_pulse
			&_animation 
				animation-name: heartbeat
				&:hover	
					animation-duration: 1.8s
					animation-timing-function: linear(15, end)
					animation-iteration-count: infinite
					animation-play-state: running				
	&_submit
		font-weight: 700
		background-color: $main-color
		border: 0 none 	
		width: 100%
		height: 60px
		border-radius: 5px
		&:hover	
			box-shadow: 1px 1px 1px 3px $main-color
			border: none
		&-mini
			width: 70%	
	&_service
		display: block
		margin-top: 20px
		font-size: 16px
		font-weight: 700	
		background-color: $main-color
		border: 0			
		width: 242px
		height: 40px
		border-radius: 2px	
		&:hover	
			box-shadow: 1px 1px 1px 3px $main-color
			border: none			
	&_modal
		font-weight: 700
		background-color: $main-color
		border: 0 none 	
		width: 70%
		height: 60px
		border-radius: 5px	
		&:hover	
			box-shadow: 1px 1px 1px 3px $main-color
			border: none		
	&_element
		display: block
		margin: 0 auto
		margin-top: 50px
		text-align: center
		font-size: 16px
		font-weight: 700
		text-transform: none
		font-style: normal
		text-decoration: none
		line-height: 1em
		letter-spacing: 0px
		fill: #000000
		color: #000000
		background-color: #FCFCFC
		padding: 20px 40px
		border-radius: 5px
		border: solid #fff
		&:hover	
			box-shadow: 1px 1px 1px 3px #fff
			border: none