@media (max-width: 1200px)	
	header
		.mainheader
			
			&_list
				&_link 
					font-size: 12px	
					span	
						font-size: 10px	
		.logo
			&_main
				width: 80px				
	.button
		&_main	
			margin-top: 25px
			width: 150px
	.main			
		.husband
			&_title
				margin-top: 70px
				font-size: 70px
			&_item
				margin-top: 37px
				&_list
					font-size: 18px	
	.button
		&_submain	
			margin-top: 60px

	.professionals
		.professionals
			&_title
				&_descr
			&_items
				&_icons
					&_logo
						width: 270px
						height: 270px
			&_descr
				font-size: 17px




		

	

@media (max-width: 991px)	
	header
		.mainheader
			&_list
				&_link 
					font-size: 11px	
		.logo
			&_main
				width: 80px				
	.button
		&_main	
			margin-top: 25px
			width: 135px
	.main			
		.husband
			&_title
				margin-top: 70px
				font-size: 73px
			&_item
				margin-top: 35px
				&_list
					font-size: 17px	
	.button
		&_submain	
			margin-top: 60px				
			